<div class="publications">
  <h5 style="margin-bottom:20px;">Research <span style="font-size: 0.6em;"><a href="/Publications/" style="color: grey">[see all]</a></span></h5>
  <p style="margin-bottom:20px; font-weight: bold; color: #007ACC;">GUI (Computer-Using) / Embodied Agents</p>
  {% bibliography -f papers -q @*[selected=gui_embodied]* %}
  <!--<p style="margin-bottom:20px; font-weight: bold; color: #007ACC;">General AI Agent</p>
  {% bibliography -f papers -q @*[selected=general_agent]* %}-->
  <p style="margin-bottom:20px; font-weight: bold; color: #007ACC;">Multimodal Learning</p>
  {% bibliography -f papers -q @*[selected=multimodal]* %}
  <p style="margin-bottom:20px; font-weight: bold; color: #007ACC;">Other</p>
  {% bibliography -f papers -q @*[selected=other]* %}
</div>
