<div class="publications">
  <h5 style="margin-bottom:30px;">Research</h5>
  <p style="margin-bottom:20px; font-weight: bold; color: #007ACC;">Computer Use / GUI Agent / AI Agent</p>
  {% bibliography -f papers -q @*[selected=gui]* %}
  <p style="margin-bottom:20px; font-weight: bold; color: #007ACC;">Multimodal Learning</p>
  {% bibliography -f papers -q @*[selected=multimodal]* %}
  <p style="margin-bottom:20px; font-weight: bold; color: #007ACC;">Other</p>
  {% bibliography -f papers -q @*[selected=other]* %}
</div>
